<?xml version="1.0" encoding="UTF-8"?><Properties xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes" xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties"><TotalTime>0</TotalTime><HeadingPairs><vector baseType="variant" size="2" xmlns="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><variant><lpstr>Worksheets</lpstr></variant><variant><i4>1</i4></variant></vector></HeadingPairs><TitlesOfParts><vector baseType="lpstr" size="1" xmlns="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><lpstr>Sheet1</lpstr></vector></TitlesOfParts></Properties>